<script setup>
import axiosInstance from '@/axios'
import router from '@/router'
import { nextTick, onMounted, ref, watch } from 'vue'
import { useRoute } from 'vue-router'
const props = defineProps(['id'])
const route = useRoute()
import { useAuthStore } from '@/stores/auth'
const authStore = useAuthStore()

const wallMessages = ref(null)

const loadWall = async () => {
  const { data } = await axiosInstance.get(
    `http://localhost:8080/api/wallmessage/profile/${props.id}`
  )

  wallMessages.value = data

  if (wallMessages.value.length) {
    currentWallSlide.value = wallMessages.value[0].id
  }
}

watch(
  () => props.id,
  async () => {
    await loadWall()
  }
)

onMounted(async () => {
  await loadWall()
})

const addModal = ref(false)
const newWallMessage = ref('')
const currentWallSlide = ref(null)
const sendWallMessage = async () => {
  const payload = {
    profile_sender_id: authStore.userData.id,
    profile_receiver_id: props.id,
    message: newWallMessage.value
  }

  await axiosInstance.post(`http://localhost:8080/api/wallmessage/`, payload)

  newWallMessage.value = ''

  await loadWall()
}
</script>

<template>
  <div class="" style="margin-bottom: 100px">
    <span class="text-h5"
      >Записи на общей доске <q-btn push color="primary" round icon="add" @click="addModal = true"
    /></span>

    <div style="margin-top: 20px">
      <template v-if="wallMessages && wallMessages.length && currentWallSlide">
        <q-carousel
          v-model="currentWallSlide"
          transition-prev="scale"
          transition-next="scale"
          swipeable
          animated
          control-color="primary"
          navigation
          padding
          arrows
          height="auto"
          class="shadow-1 rounded-borders"
        >
          <q-carousel-slide  slide v-for="message in wallMessages" :key="message.id" :name="message.id" class="column no-wrap flex-center">
            <div v-html="message.message"></div>
          </q-carousel-slide>
        </q-carousel>
      </template>

      <template v-else> У вас пока нет общих записей на доске. </template>
    </div>

    <q-dialog v-model="addModal" persistent>
      <q-card>
        <q-card-section>
          <div class="text-h6">Добавить запись на доске</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-editor
            :toolbar="[
              ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
              ['hr', 'link']
            ]"
            v-model="newWallMessage"
            min-height="8rem"
          />
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Отменить" v-close-popup />
          <q-btn flat label="Добавить" v-close-popup @click="sendWallMessage" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<style lang="scss">
.wall-item {
  width: 100%;
  min-width: 550px;
}

@media (max-width: 999px) {
  .q-card {
    min-width: auto;
  }
}
</style>
