<script setup>
import { computed, onMounted, ref, watch } from 'vue'
import { RouterView } from 'vue-router'
import { useAuthStore } from '@/stores/auth'
import router from './router'

const authStore = useAuthStore()

const isMounted = ref(false)

watch(
  () => authStore.userData,
  (value) => {
    if (value) {
      return
    }

    router.push('/')
  }
)

onMounted(async () => {
  await authStore.fetchUserData()

  isMounted.value = true
})

const user = computed(() => {
  if (!authStore.userData) {
    return null
  }

  return authStore.userData
})

const navigateToHome = () => {
  router.push('/')
}

const navigateToProfileEdit = () => {
  router.push('/profile-edit')
}

watch(
  () => router.currentRoute.value,
  async () => {
    window.scrollTo({ top: 0, left: 0, behavior: 'smooth' });
  },
  { immediate: true, deep: true, flush: 'pre' }
)
</script>

<template>
  <q-layout>
    <q-header reveal elevated class="bg-primary text-white">
      <q-toolbar class="page-wrapper" style="min-height: 65px;">
        <p
          class="text-h5"
          style="margin-bottom: 0px; cursor: pointer; display: flex; flex-direction: column"
          @click="navigateToHome"
        >
          <span class="hide-on-mobile">
            ConnectPro
          </span>
          <span class="hide-on-desktop">
            {{ authStore.userData ? 'CP' : 'ConnectPro' }}
          </span>
          <span class="hide-on-mobile" style="font-size: 11px; margin-top: -23px; position: relative; bottom: -10px"
            >Ваша лучшая профессиональная сетевая платформа</span
          >
        </p>

        <q-space />

        <template v-if="isMounted">
          <q-btn
            v-if="authStore.userData"
            push
            color="white"
            text-color="white"
            icon="apartment"
            :to="'/company'"
            outline
            style="margin-right: 20px"
          />

          <q-btn
            v-if="authStore.userData"
            push
            color="white"
            text-color="primary"
            unelevated
            icon="message"
            :to="'/messages'"
          />

          <q-btn
            v-if="!authStore.userData"
            push
            color="white"
            text-color="primary"
            unelevated
            icon="person"
            label="Войти"
            :to="'/login'"
          />

          <template v-else>
            <q-item clickable v-ripple @click="navigateToProfileEdit">
              <q-item-section style="text-align: right">
                <q-item-label>{{
                  `${user.first_name} ${user.second_name.slice(0, 1)}.`
                }}</q-item-label>
                <q-item-label v-if="user.name" caption style="color: var(--q-warning)"
                  ><q-chip dense style="font-size: 11px">{{ user.name }}</q-chip></q-item-label
                >
              </q-item-section>
              <q-item-section side>
                <q-avatar rounded size="48px">
                  <img
                    style="object-fit: cover"
                    :src="
                      user.photo ||
                      'https://media.istockphoto.com/id/1341046662/vector/picture-profile-icon-human-or-people-sign-and-symbol-for-template-design.jpg?s=612x612&w=0&k=20&c=A7z3OK0fElK3tFntKObma-3a7PyO8_2xxW0jtmjzT78='
                    "
                  />
                </q-avatar>
              </q-item-section>
            </q-item>
            <q-btn
              push
              outline=""
              color="white"
              text-color="white"
              unelevated
              icon="logout"
              @click="authStore.logout()"
            />
          </template>
        </template>
      </q-toolbar>
    </q-header>

    <q-page-container class="page-wrapper">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<style lang="scss">
html {
  background: rgb(247, 247, 247);
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  
  @media (max-width: 999px) {
    width: 90%; // Allows padding from the screen edges
    max-width: 600px; // Optional: further restrict max width for very small devices
  }
}

/* Existing styles can be extended with similar media queries */
.q-header, .q-toolbar {
  /* Simplified toolbar layouts and smaller height for mobile devices */
  @media (max-width: 999px) {
    .text-h5 {
      font-size: 18px;
    }
    span {
      // .q-icon {
      //   display: none;
      // }
    }
    .q-btn {
      font-size: 14px; // Smaller button font size
      min-width: 40px; // Reduce button width
    }
    .q-avatar {
      width: 32px; // Smaller avatar
      height: 32px; // Smaller avatar
    }
  }
}

@media (max-width: 999px) {
  .text-h4, text-h5 {
    line-height: 1.5;
  }

  .hide-on-mobile {
    display: none;
  }

  .colleague-list {
    max-width: 100%;
  }
}

@media (min-width: 999px) {
  .hide-on-desktop {
    display: none;
  }
}
</style>