<script setup>
import { ref, watch } from 'vue'
import { useAuthStore } from '@/stores/auth'
import { useRouter } from 'vue-router'

const authStore = useAuthStore()
const router = useRouter()

const formData = ref({
  firstName: '',
  secondName: '',
  email: '',
  password: ''
})

watch(
  () => authStore.userData,
  (value) => {
    if (!value) {
      return
    }

    router.push('/')
  },
  {immediate: true}
)

const submitRegistration = async () => {
  try {
    await authStore.register(formData.value)
  } catch (e) {
    console.log(e)
  }
}
</script>

<template>
  <q-form @submit="submitRegistration" class="q-gutter-xs fixed-center auth-form">
    <q-input
      filled
      v-model="formData.firstName"
      label="Имя"
      lazy-rules
      :rules="[(val) => (val && val.length > 0) || 'Введите ваше имя']"
    />

    <q-input
      filled
      v-model="formData.secondName"
      label="Фамилия"
      lazy-rules
      :rules="[(val) => (val && val.length > 0) || 'Введите вашу фамилию']"
    />

    <q-input
      filled
      v-model="formData.email"
      label="Эл. почта"
      lazy-rules
      :rules="[(val) => (val && val.length > 0) || 'Введите вашу почту']"
    />

    <q-input
      filled
      v-model="formData.password"
      type="password"
      label="Пароль"
      lazy-rules
      :rules="[(val) => (val && val.length > 0) || 'Введите пароль']"
    />

    <div>
      <q-btn label="Регистрация" type="submit" color="primary" />
    </div>
  </q-form>
</template>

<style lang="scss">
.auth-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
</style>
