<script setup>
import { useAuthStore } from '@/stores/auth'
import { ref, watch } from 'vue'
import { useRouter } from 'vue-router'

const router = useRouter()
const authStore = useAuthStore()

watch(
  () => authStore.userData,
  (value) => {
    if (!value) {
      return
    }

    router.push('/')
  },
  {immediate: true}
)
const login = async () => {
  await authStore.login(loginData.value)
}

const loginData = ref({
  email: '',
  password: ''
})
</script>

<template>
  <q-form @submit="login" class="q-gutter-xs fixed-center auth-form">
    <q-input
      filled
      v-model="loginData.email"
      label="Эл. почта"
      lazy-rules
      :rules="[(val) => (val && val.length > 0) || 'Введите вашу почту']"
    />

    <q-input
      filled
      v-model="loginData.password"
      type="password"
      label="Пароль"
      lazy-rules
      :rules="[(val) => (val && val.length > 0) || 'Введите пароль']"
    />

    <div>
      <q-btn label="Вход" type="submit" color="primary" />
      <q-btn label="Регистрация" type="reset" color="primary" flat class="q-ml-sm" :to="'/registration'" />
    </div>
  </q-form>
</template>

<style lang="scss">
.auth-form {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
</style>
