<script setup>
import { onMounted, ref } from 'vue'
import { useRoute } from 'vue-router'
import router from '@/router'
import axiosInstance from '@/axios'
import { useAuthStore } from '@/stores/auth'
const authStore = useAuthStore()

const route = useRoute()

const company = ref(null)
const companyWorkers = ref(null)
const isLoaded = ref(false)

onMounted(async () => {
  const { data: companyData } = await axiosInstance.get(
    `http://localhost:8080/api/company/${route.params.id}`
  )

  company.value = companyData

  const { data: companyWorkersData } = await axiosInstance.get(
    `http://localhost:8080/api/company/${route.params.id}/workers`
  )

  companyWorkers.value = companyWorkersData

  isLoaded.value = true
})

const navigateToProfile = (id) => {
  const { id: currentProfileId } = authStore.userData

  if (Number(id) === currentProfileId) {
    router.push(`/`)
    return
  }

  router.push(`/profile/${id}`)
}
</script>

<template>
  <div v-if="!isLoaded" style="display: flex; justify-content: center">
    <q-spinner color="primary" size="3em" :thickness="10" />
  </div>

  <template v-else>
    <div v-if="company" class="company-details">
      <p class="title">{{ company.name }}</p>
      <p>Отрасль: {{ company.industry }}</p>
      <span>Страна: {{ company.country }}</span>
    </div>

    <template v-if="companyWorkers && companyWorkers.length">
      <span class="text-h5">Работники</span>
      <div class="colleague-list" style="display: flex; gap: 20px; margin-top: 15px; flex-wrap: wrap; width: 1282px;">
        <q-card
          v-for="colleague in companyWorkers"
          :key="colleague.id"
          class="colleague-card"
          flat
          bordered
          style="width: 250px; border-radius: 25px; text-align: center; width: 240px"
          @click="navigateToProfile(colleague.id)"
        >
          <q-img
            style="width: 100%; height: 250px"
            :src="
              colleague.photo ||
              'https://media.istockphoto.com/id/1341046662/vector/picture-profile-icon-human-or-people-sign-and-symbol-for-template-design.jpg?s=612x612&w=0&k=20&c=A7z3OK0fElK3tFntKObma-3a7PyO8_2xxW0jtmjzT78='
            "
          />

          <q-card-section style="padding: 5px 10px;">
            <div style="font-size: 18px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
              {{ `${colleague.first_name} ${colleague.second_name}` }}
            </div>
            <div style="font-size: 18px; white-space: nowrap; display: flex; font-size: 13px; justify-content: center; align-items: center;">
              {{ colleague.role }} в
              <q-item-label caption style="color: var(--q-warning)"
                ><q-chip dense style="font-size: 11px">{{ colleague.name }}</q-chip></q-item-label
              >
            </div>
            <div>
              <q-btn :to="`/messages/${colleague.id}`" flat outline color="primary" icon="mail" label="Сообщение" style="margin-top: 20px" @click.stop />
            </div>
          </q-card-section>
        </q-card>
      </div>
    </template>
  </template>
</template>

<style lang="scss">
.company-details {
  background: rgb(235, 235, 235);
  padding: 10px;
  border-radius: 30px;
  width: 50%;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;

  .title {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 999px) {
  .company-details {
    width: 100%;
    margin-bottom: 20px;
  }
}
</style>
