<script setup>
import axiosInstance from '@/axios'
import { onMounted, ref } from 'vue'
import router from '@/router'

const companies = ref([])
const isLoaded = ref(false)

onMounted(async () => {
  const { data: companyData } = await axiosInstance.get(`http://localhost:8080/api/company`)

  companies.value = companyData
  isLoaded.value = true
})

const navigateToCompany = ({ id }) => {
  router.push({ name: 'CompanyDetails', params: { id } })
}
</script>

<template>
  <div v-if="!isLoaded" style="display: flex; justify-content: center">
    <q-spinner color="primary" size="3em" :thickness="10" />
  </div>

  <template v-else>
    <div class="company-list">
      <div
        @click="navigateToCompany(company)"
        class="company"
        v-for="company in companies"
        :key="company.id"
      >
        <div style="font-size: 15px; font-weight: bold">{{ company.name }}</div>
        <div style="font-size: 15px">{{ company.industry }}</div>
        <div style="font-size: 11px">{{ company.country }}</div>
      </div>
    </div>
  </template>
</template>

<style lang="scss">
.company-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 10px;

  .company {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 8px;
    text-align: center;
    min-width: 200px;
    background: white;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

@media (max-width: 999px) {
  .company {
    width: 100%;
  }
}
</style>
