<script setup>
import { useAuthStore } from '@/stores/auth'
import { computed, ref, watch } from 'vue'
import { useRoute } from 'vue-router'
import axios from 'axios'
import router from '@/router';

const authStore = useAuthStore()

const route = useRoute()

const colleagues = ref([])

const user = computed(() => {
  if (!authStore.userData) {
    router.push('/login')

    return
  }

  return authStore.userData
})

// Fetch colleagues
watch(
  () => user.value,
  async (value) => {
    if (!value) {
      return
    }

    const { company_id, id } = user.value

    const { data } = await axios.get(`http://localhost:8080/api/company/${company_id}/workers`)

    colleagues.value = data.filter(colleague => colleague.id !== id)

    colleagues.value = colleagues.value.slice(0, 5)
  },
  { immediate: true }
)

const isItsMe = computed(() => {
  return route.path === '/'
})

const navigateToProfile = (id) => {
  router.push(`/profile/${id}`)
}
</script>

<template>
  <div v-if="!authStore.userData"></div>

  <div v-else>
    <div style="padding: 30px; display: flex; gap: 15px; align-items: center">
      <div
        style="display: flex; width: 100%; justify-content: center; gap: 30px; align-items: center"
      >
        <div style="display: flex; flex-direction: column; text-align: right; width: 30%">
          <span class="hide-on-mobile" style="font-size: 15px; color: grey; opacity: 0.7" v-if="isItsMe">(это Вы)</span>
          <span class="text-h4">
            {{ `${user.first_name} ${user.second_name}` }}
          </span>
          <span class="hide-on-mobile" v-if="user.status"><q-icon name="comment" style="margin-right: 5px" />{{ user.status }}</span>
        </div>

        <q-avatar size="150px" style="border-radius: 50px">
          <img
            style="object-fit: cover"
            :src="
              user.photo ||
              'https://media.istockphoto.com/id/1341046662/vector/picture-profile-icon-human-or-people-sign-and-symbol-for-template-design.jpg?s=612x612&w=0&k=20&c=A7z3OK0fElK3tFntKObma-3a7PyO8_2xxW0jtmjzT78='
            "
        /></q-avatar>

        <div style="display: flex; flex-direction: column; text-align: left; width: 30%">
          <span v-if="user.role && user.name" class="text-h5"
            >{{ user.role }} в <router-link :to="`/company/${user.company_id}`">{{ user.name }}</router-link></span
          >

          <span v-else-if="user.role && !user.name" class="text-h5">{{ user.role }}</span>
          <span v-else-if="!user.role && user.name" class="text-h5">{{ user.name }}</span>
          <span v-else class="text-h5">Безработный</span>
        </div>
      </div>
    </div>

    <p class="hide-on-desktop" style="margin-bottom: 20px; margin-top: -25px; text-align: center;" v-if="user.status"><q-icon name="comment" style="margin-right: 5px" />{{ user.status }}</p>

    <template v-if="colleagues && colleagues.length">
      <router-link :to="`/company/${authStore.userData.company_id}`" class="text-h5" style="text-decoration: none; color: var(--q-primary)">Ваши коллеги</router-link>
      <div class="colleague-list" style="display: flex; gap: 20px; margin-top: 15px; flex-wrap: wrap; width: 1282px;">
        <q-card
          v-for="colleague in colleagues"
          :key="colleague.id"
          class="colleague-card"
          flat
          bordered
          style="width: 250px; border-radius: 25px; text-align: center; width: 240px"
          @click="navigateToProfile(colleague.id)"
        >
          <q-img
            style="width: 100%; height: 250px"
            :src="
              colleague.photo ||
              'https://media.istockphoto.com/id/1341046662/vector/picture-profile-icon-human-or-people-sign-and-symbol-for-template-design.jpg?s=612x612&w=0&k=20&c=A7z3OK0fElK3tFntKObma-3a7PyO8_2xxW0jtmjzT78='
            "
          />

          <q-card-section style="padding: 5px 10px;">
            <div style="font-size: 18px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
              {{ `${colleague.first_name} ${colleague.second_name}` }}
            </div>
            <div style="font-size: 18px; white-space: nowrap; display: flex; font-size: 13px; justify-content: center; align-items: center;">
              {{ colleague.role }} в
              <q-item-label caption style="color: var(--q-warning)"
                ><q-chip dense style="font-size: 11px">{{ colleague.name }}</q-chip></q-item-label
              >
            </div>
            <div>
              <q-btn :to="`/messages/${colleague.id}`" flat outline color="primary" icon="mail" label="Сообщение" style="margin-top: 20px" @click.stop />
            </div>
          </q-card-section>
        </q-card>
      </div>
    </template>

  </div>
</template>

<style lang="scss">
.colleague-card {
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

@media (max-width: 999px) {
  .text-h4, .text-h5, .text-h6 {
    font-size: 14px;
  }
}
</style>
