<script setup>
import axiosInstance from '@/axios'
import formatDate from '@/convertDate'
import { useAuthStore } from '@/stores/auth'
import { nextTick, onMounted, onUnmounted, ref, watch } from 'vue'
import { useRouter } from 'vue-router'
import { useRoute } from 'vue-router'
const route = useRoute()
const router = useRouter()
const authStore = useAuthStore()

const messages = ref(null)
const messageToSend = ref('')

const isLoaded = ref(false)

let pollingInterval = null

const user = ref(null)

watch(
  () => authStore.userData,
  (value) => {
    if (value) {
      return
    }

    router.push('/')
  }
)

const isItsMe = (message) => {
  const currentUserId = authStore.userData.id

  return message.sender_id === currentUserId
}

const messagesBox = ref(null)

onMounted(async () => {
  const { data: userData } = await axiosInstance.get(`http://localhost:8080/api/profile/id/${route.params.id}`)

  user.value = userData

  if (route.params.id == authStore.userData.id) {
    router.push('/messages')

    return
  }

  await loadMessages()
  await nextTick()

  pollingInterval = setInterval(loadMessages, 3000) // Poll every 3 seconds

  messagesBox.value.scrollTop = messagesBox.value.scrollHeight
})

const loadMessages = async () => {
  try {
    const { data: messagesData } = await axiosInstance.post(
    'http://localhost:8080/api/message/conversation',
    {
      userId: route.params.id
    }
  )

  messages.value = messagesData
  } catch (e) {
    console.log(e)
    messages.value = []
  } finally {
    isLoaded.value = true
  }
}

const sendMessage = async () => {
  const payload = {
    profile_sender_id: authStore.userData.id,
    profile_receiver_id: route.params.id,
    message: messageToSend.value
  }

  await axiosInstance.post('http://localhost:8080/api/message', payload)

  await loadMessages()

  messageToSend.value = ''
  messagesBox.value.scrollTop = messagesBox.value.scrollHeight
}

onUnmounted(() => {
  if (pollingInterval) {
    clearInterval(pollingInterval)
  }
})
</script>

<template>
  <div v-if="!isLoaded" style="display: flex; justify-content: center;">
    <q-spinner
      color="primary"
      size="3em"
      :thickness="10"
    />
  </div>

  <div v-else class="messages-with-person">
    <div class="q-pa-md row justify-center">
      <div
        ref="messagesBox"
        style="width: 100%; max-width: 600px; max-height: 610px; overflow: auto"
      >
        <q-chat-message
          v-for="message in messages"
          :key="message.id"
          :name="`${message.sender_first_name} ${message.sender_second_name}`"
          :avatar="message.sender_photo"
          :text="[message.message]"
          :sent="isItsMe(message)"
          :stamp="formatDate(message.date)"
        ></q-chat-message>
      </div>
    </div>

    <div v-if="isLoaded && !messages.length" style="text-align: center; margin-bottom: 50px; font-size: 20px;">
      В вашем чате с {{ user.first_name }} {{ user.second_name }} нет сообщений. Начните диалог!
    </div>

    <div style="display: flex; justify-content: center">
      <textarea v-model="messageToSend" @keypress.enter.prevent="sendMessage"></textarea>
    </div>
  </div>
</template>

<style lang="scss">
.messages-with-person {
  display: flex;
  flex-direction: column;
  justify-content: center;

  textarea {
    resize: none;
    width: 600px;
    height: 120px;
    border-radius: 10px;
  }
}

.q-message-avatar {
  object-fit: cover !important;
}
</style>
