<script setup>
import axiosInstance from '@/axios'
import formatDate from '@/convertDate';
import { useAuthStore } from '@/stores/auth'
import { onMounted, ref, watch } from 'vue'
import { useRouter } from 'vue-router'

const router = useRouter()
const authStore = useAuthStore()

const conversations = ref(null)

watch(
  () => authStore.userData,
  (value) => {
    if (value) {
      return
    }

    router.push('/')
  }
)

onMounted(async () => {
  const { data: conversationsData } = await axiosInstance.get(
    'http://localhost:8080/api/message/common-profiles'
  )

  conversations.value = conversationsData
})
</script>

<template>
  <div class="message-list">
    <div v-for="conversation in conversations" :key="conversation.id" class="message" @click="router.push(`/messages/${conversation.id}`)">
      <div class="portrait">
        <div class="portrait-avatar">
          <img :src="conversation.photo" />
        </div>
      </div>

      <div class="last-message">
        <span style="font-size: 16px; font-weight: 600;">
          {{ conversation.first_name }}
          {{ conversation.second_name.slice(0, 1) }}.
        </span>
        <span>
          {{ conversation.last_message }}
        </span>
      </div>

      <div class="date" style="margin-left: auto;">
        {{ formatDate(conversation.last_message_date) }}
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background: rgb(235, 235, 235);
  padding: 20px;
  border-radius: 30px;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  &-list {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    gap: 25px;
  }

  .last-message {
    display: flex;
    flex-direction: column;
  }

  .portrait-avatar {
    width: 100px;
    height: 100px;
    display: flex;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 100%;
    }
  }
}

@media (max-width: 999px) {
  .message {
    font-size: 90% !important;

    &-list {
      width: auto;
    }

    .portrait-avatar {
      width: 50px;
      height: 50px;
      display: flex;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 100%;
      }
    }
  }
}
</style>
