<script setup>
import { useAuthStore } from '@/stores/auth'
import { ref, watch } from 'vue'
import { useRouter } from 'vue-router'
import axios from 'axios'

const router = useRouter()
const authStore = useAuthStore()

const companies = ref([])

const fetchCompanies = async () => {
  const { data } = await axios.get('http://localhost:8080/api/company')

  companies.value = data
}

const profileData = ref({
  id: '',
  photo: '',
  first_name: '', //
  second_name: '', //
  email: '', //
  phone: '', //
  birthday: '',
  status: '', //
  role: '',
  password: '', //
  company_id: '', //
})

watch(
  () => authStore.userData,
  (userDataValue) => {
    if (userDataValue) {
      Object.keys(profileData.value).forEach((userDataKey) => {
        profileData.value[userDataKey] = userDataValue[userDataKey]
      })

      fetchCompanies()

      return
    }

    router.push('/')
  },
  { immediate: true }
)

const handleUpload = async (event) => {
  const formData = new FormData()

  formData.append('image', event.target.files[0])

  const {
    data: { url }
  } = await axios.post('http://localhost:8080/api/upload', formData)

  profileData.value.photo = url
}

const updateProfile = async () => {
  try {
    if (typeof profileData.value.company_id === 'object') {
      profileData.value.company_id = profileData.value.company_id.id
    }
  
    await axios.put(`http://localhost:8080/api/profile/${profileData.value.id}`, profileData.value)

    await authStore.fetchUserData()

    router.push('/')

  } catch (e) {
    console.log(e)
  }
}
</script>

<template>
  <q-form @submit.prevent="updateProfile" class="q-gutter-xs edit-form">
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        gap: 10px;
      "
    >
      <div class="avatar" style="position: relative; cursor: pointer">
        <img
          :src="
            profileData.photo ||
            'https://media.istockphoto.com/id/1341046662/vector/picture-profile-icon-human-or-people-sign-and-symbol-for-template-design.jpg?s=612x612&w=0&k=20&c=A7z3OK0fElK3tFntKObma-3a7PyO8_2xxW0jtmjzT78='
          "
          style="width: 200px; height: 200px; object-fit: cover; border-radius: 50px"
        />
        <q-icon
          class="avatar__upload-icon"
          name="upload"
          size="100px"
          style="position: absolute; left: calc(50% - 50px); top: 300px; color: white; opacity: 0"
        />
        <input
          type="file"
          id="myFile"
          name="filename"
          style="position: absolute; left: 0px; width: 100%; height: 100%; opacity: 0"
          @change="handleUpload"
        />
      </div>
    </div>

    <div class="edit-form__input-group" style="display: flex; gap: 30px">
      <q-select
        filled
        v-model="profileData.company_id"
        :options="companies"
        option-label="name"
        option-value="id"
        label="Компания"
        style="width: 100%"
        map-options
      >
        <template v-if="profileData.company_id" v-slot:append>
          <q-icon
            name="cancel"
            @click.stop.prevent="profileData.company_id = null"
            class="cursor-pointer"
          />
        </template>
      </q-select>

      <q-input
        filled
        v-model="profileData.role"
        type="text"
        label="Должность"
        lazy-rules
        :rules="[(val) => (val && val.length > 0) || 'Введите вашу должность']"
        style="width: 100%"
      />
    </div>

    <div class="edit-form__input-group" style="display: flex; gap: 30px">
      <q-input
        filled
        v-model="profileData.first_name"
        label="Имя"
        lazy-rules
        :rules="[(val) => (val && val.length > 0) || 'Введите ваше имя']"
        style="width: 100%"
      />

      <q-input
        filled
        v-model="profileData.second_name"
        type="text"
        label="Фамилия"
        lazy-rules
        :rules="[(val) => (val && val.length > 0) || 'Введите вашу фамилию']"
        style="width: 100%"
      />
    </div>

    <div class="edit-form__input-group" style="display: flex; gap: 30px">
      <q-input filled v-model="profileData.phone" label="Телефон" lazy-rules style="width: 100%" />

      <q-input
        filled
        v-model="profileData.status"
        type="text"
        label="Статус"
        lazy-rules
        style="width: 100%"
      />
    </div>

    <div class="edit-form__input-group" style="display: flex; gap: 30px">
      <q-input
        filled
        v-model="profileData.email"
        label="Эл. почта"
        lazy-rules
        :rules="[(val) => (val && val.length > 0) || 'Введите вашу почту']"
        style="width: 100%"
      />

      <q-input
        filled
        v-model="profileData.password"
        type="password"
        label="Пароль"
        lazy-rules
        :rules="[(val) => (val && val.length > 0) || 'Введите пароль']"
        style="width: 100%"
      />
    </div>

    <div>
      <q-btn label="Сохранить" type="submit" color="primary" />
    </div>
  </q-form>
</template>

<style lang="scss">
.avatar:hover {
  .avatar__upload-icon {
    top: calc(50% - 50px) !important;
    opacity: 0.8 !important;
    transition: 0.3s;
  }
}

.edit-form {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px auto;
}

@media (max-width: 999px) {
  .edit-form {
    width: auto;
    max-width: 100%;
    padding-bottom: 50px;
    padding-top: 30px;

    &__input-group {
      flex-direction: column;
      padding: 0 10px;
    }
  }
}
</style>
