<script setup>
import { useAuthStore } from '@/stores/auth'
import { computed, ref, watch } from 'vue'
import { useRoute } from 'vue-router'
import axios from 'axios'
import router from '@/router'
import WallShowcase from '@/components/WallShowcase.vue'

const authStore = useAuthStore()

const route = useRoute()

const colleagues = ref([])

function shuffleArray(array) {
  // Clone the array to avoid modifying the original array
  let clonedArray = [...array]

  for (let i = clonedArray.length - 1; i > 0; i--) {
    // Generate a random index from 0 to i
    const j = Math.floor(Math.random() * (i + 1))

    // Swap elements at indices i and j
    const temp = clonedArray[i]
    clonedArray[i] = clonedArray[j]
    clonedArray[j] = temp
  }

  return clonedArray
}

const user = ref(null)

watch(
  () => route,
  async (value) => {
    if (!value) {
      return
    }

    const {
      params: { id: userId }
    } = route

    const { data: userData } = await axios.get(`http://localhost:8080/api/profile/id/${userId}`)

    user.value = userData

    const { company_id, id } = user.value

    if (!company_id || !id) {
      return
    }

    const { data: colleaguesData } = await axios.get(
      `http://localhost:8080/api/company/${company_id}/workers`
    )

    colleagues.value = colleaguesData.filter((colleague) => colleague.id !== Number(userId))
    colleagues.value = colleagues.value.slice(0, 5)

    colleagues.value = shuffleArray(colleagues.value)
  },
  { immediate: true, deep: true, flush: 'pre' }
)

const isItsMe = computed(() => {
  return route.path === '/'
})

const navigateToProfile = (id) => {
  const { id: currentProfileId } = authStore.userData

  if (Number(id) === currentProfileId) {
    router.push(`/`)
    return
  }

  router.push(`/profile/${id}`)
}
</script>

<template>
  <div v-if="!user" style="display: flex; justify-content: center">
    <q-spinner color="primary" size="3em" :thickness="10" />
  </div>

  <div v-else>
    <div style="padding: 30px; display: flex; gap: 15px; align-items: center">
      <div
        style="display: flex; width: 100%; justify-content: center; gap: 30px; align-items: center"
      >
        <div style="display: flex; flex-direction: column; text-align: right; width: 30%">
          <span style="font-size: 15px; color: grey; opacity: 0.7" v-if="isItsMe">(это Вы)</span>
          <span class="text-h4">
            {{ `${user.first_name} ${user.second_name}` }}
          </span>
          <span v-if="user.status"
            ><q-icon name="comment" style="margin-right: 5px" />{{ user.status }}</span
          >
        </div>

        <div style="position: relative">
          <q-avatar size="150px" style="border-radius: 50px">
            <img
              style="object-fit: cover"
              :src="
                user.photo ||
                'https://media.istockphoto.com/id/1341046662/vector/picture-profile-icon-human-or-people-sign-and-symbol-for-template-design.jpg?s=612x612&w=0&k=20&c=A7z3OK0fElK3tFntKObma-3a7PyO8_2xxW0jtmjzT78='
              "
          /></q-avatar>
          <q-btn
            unelevated
            round
            color="primary"
            icon="message"
            style="position: absolute; bottom: 0px; left: 120px"
            :to="`/messages/${user.id}`"
          />
        </div>

        <div style="display: flex; flex-direction: column; text-align: left; width: 30%">
          <span v-if="user.role && user.name" class="text-h5"
            >{{ user.role }} в
            <router-link :to="`/company/${user.company_id}`">{{ user.name }}</router-link></span
          >

          <span v-else-if="user.role && !user.name" class="text-h5">{{ user.role }}</span>
          <span v-else-if="!user.role && user.name" class="text-h5">{{ user.name }}</span>
          <span v-else class="text-h5">Безработный</span>
        </div>
      </div>
    </div>

    <WallShowcase :id="user.id" />

    <span class="text-h5">Коллеги</span>
    <div class="colleague-list" style="display: flex; gap: 20px; margin-top: 15px; flex-wrap: wrap; width: 1282px">
      <q-card
        v-for="colleague in colleagues"
        :key="colleague.id"
        class="colleague-card"
        flat
        bordered
        style="width: 250px; border-radius: 25px; text-align: center; width: 240px"
        @click="navigateToProfile(colleague.id)"
      >
        <q-img
          style="width: 100%; height: 250px"
          :src="
            colleague.photo ||
            'https://media.istockphoto.com/id/1341046662/vector/picture-profile-icon-human-or-people-sign-and-symbol-for-template-design.jpg?s=612x612&w=0&k=20&c=A7z3OK0fElK3tFntKObma-3a7PyO8_2xxW0jtmjzT78='
          "
        />

        <q-card-section style="padding: 5px 10px">
          <div
            style="font-size: 18px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden"
          >
            {{ `${colleague.first_name} ${colleague.second_name}` }}
          </div>
          <div
            style="
              font-size: 18px;
              white-space: nowrap;
              display: flex;
              font-size: 13px;
              justify-content: center;
              align-items: center;
            "
          >
            {{ colleague.role }} в
            <q-item-label caption style="color: var(--q-warning)"
              ><q-chip dense style="font-size: 11px">{{ colleague.name }}</q-chip></q-item-label
            >
          </div>
          <div>
            <q-btn
              :to="`/messages/${colleague.id}`"
              flat
              outline
              color="primary"
              icon="mail"
              label="Сообщение"
              style="margin-top: 20px"
              @click.stop
            />
          </div>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<style lang="scss">
.colleague-card {
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}
</style>
